@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    min-height: 100vh;
    background-color: #FFFFFF;
}

button {
     
    width: 140px;    
    height: 40px;    
    background-color: transparent;    
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    
}

.foto{
    display: inline-flex;
    height: 29px;
    width: 100px;
    padding: right;
    margin-right: 50px;
}

.menu-navegacao{
    height: 100px;
    padding-top: 2%;
    font-family: Inter, sans-serif;
    color: black;
}





.comida {
    display: block;
    position: absolute;
    right: 30%;
    width: 200px;
    height: 200px;
    

    
}

.Menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    margin-bottom: 75px;
}

.Texto {
    display: flex;
    flex-direction: column;
    width: 46%;
    flex-wrap: wrap;
}

.Titulo {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 3rem;
    color: black;
    margin-bottom: 2rem;
    padding-left: 21%;
}

.Paragrafo {
    font-family: Inter;
    font-weight: 400;
    font-size: 1rem;
    color: black;
    width: 48%;
    margin-bottom: 3rem;
    margin-inline: 7.7rem;
}

.cardapio{

    width: 200px;
    height: 45px;
    background-color: red;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    margin-inline: 7.7rem;
    
}

ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    padding-right: 14%;
}

.prato {
    width: 320px;
    height: 300px;
    position: absolute;
    margin-inline: 15.5rem;


    


}
   
.Texto2{

    width: 40%;
    margin-inline: 43rem;
}

.Paragrafo2 {

    font-family: Inter;
    font-weight: 400;
    font-size: 1rem;
    color: black;
    width: 48%;
    margin-bottom: 3rem;

}

.T2 {

    height: 60px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 3rem;
    color: black;

    margin-bottom: 5rem;
    
}

.lermais{
    color: red;
}

.populares{
    
    font-family: Montserrat;
    width: 40%;
    padding-top: 10%;
    margin-inline: 35rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: black;

}

.comen{

    font-family: Montserrat;
    width: 40%;
    padding-top: 8%;
    margin-inline: 15.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: black;


}

.foto1{

    width: 250px;
    height: 400px;
    padding-right: 2%;
    padding-left: 20%;

}

.foto2{

    width: 250px;
    height: 400px;
    padding-right: 2%;

}

.foto3{

    width: 250px;
    height: 400px;



}

.fundo1{
    width: 400px;
    height: 280px;
    padding-left: 20.0%;

    
}

.fundo2{
    width: 400px;
    height: 280px;
    padding-left: 1%;
}

.loc{

    font-family: Montserrat;
    width: 40%;
    padding-top: 8%;
    margin-inline: 15.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: black;

}

.loc1{

    Width: 800px;
    Height: 390px;
    padding-right: 10%;
    border-radius: 16px 0px 0px 0px;
    padding-left: 20%;


}

.buscar{
    width: 120px;
    color: rgb(255, 0, 0);
    background-color: red;
    border-radius: 10%;
    padding-right: 2%;
    margin-inline-start: 0%;

}

.buscar1{
    padding-left: 48%;
    padding-top: 1%;
}

FoodJP1 {
 
    height: 20px; 
    width: 100px; 
    padding-left: 230px; 
    padding-top: 8%;
  }
     
    .listape {
     
    justify-content: center; 
    height: 30px;
     
    }
     
    .listape1 {
     
    justify-content: center; 
    height: 30px;
     
    }
     
    .listape2 {
     
    justify-content: center; 
    height: 30px;
     
    }
     
    .listape3{
     
    justify-content: center;
     
    }

    







